.section-title-style1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 4rem;
}

.title-bar {
    width: 5px;
    height: 3rem;
    background-color: rgb(218, 4, 4);
}

.event-info{
    grid-template-columns: 1fr 1fr;
    background-color: rgba(197, 197, 197, 0.8);
    color:black;
    border-radius: 3rem;
    padding: 4rem 2rem;
    margin: 2rem 4rem;
    gap: 2rem;
    max-width: 90%;    
    backdrop-filter: blur(5px);
}

.upcoming-event-details{
    padding: 0 2rem;
    text-align: right;  
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}

.upcoming-event-details .date,
.upcoming-event-details .location {
    font-size: 1.2rem;
    color: #0e0e0e;
    margin: 0.5rem 0;
}

.description {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #302f2f;
    margin-bottom: 1rem;
    max-width: 80%;
    margin-left: 4rem;  
    justify-self: end;
}

.event_btn{
    font-size: 1.1rem;
    border-radius: 1rem;
    cursor: pointer;
    background-color: #d32f2f;
    transition: background-color 0.3s ease;
    min-width: 10rem;
}

.event_btn:hover {
    background-color: rgb(218, 4, 4);
}

.event-image {
    justify-self: center;
    align-self: center;
}

/* Past Events */
.section-title-style2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 6rem 0;  
    width: 100%;
}

.section-title-style2 h2 {
    color: white;
    font-size: 2.5rem;
    white-space: nowrap; 
}

.section-title-style2 .line {
    height: 2px;  
    background-color: rgb(218, 4, 4);  
    flex-grow: 1;  
    max-width: 35%;  
}

#past-events {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.5rem 6rem;
    margin: 2rem 4rem;
    justify-content: center;
}

.events-container {
    overflow: hidden;
    /*margin: 0 2rem;*/
    width: 100%;
}

.events-wrapper {
    display: flex;
    /*gap: 5rem;*/
    transition: transform 0.3s ease;
}

.past-event-card {
    /*min-width: 39%;*/
    min-width: 45%;
    box-sizing: border-box;
    margin: 3%;
    background: rgba(197, 197, 197, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 2rem;
    text-align: center;
}

.past-event-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.past-event-card h3 {
    color: black;
    margin: 1rem 0;
    font-size: 2rem;
    text-align: center;
}

.past-event-card .description {
    color: black;
    line-height: 1.6;
    text-align: left;
    margin: 0 auto;
    max-width: 100%;
}

.arrow-btn {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-btn:hover {
    background: rgba(255, 255, 255, 0.2);
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}


@media screen and (max-width: 960px){
    .event-info{
        grid-template-columns: 1fr;
    }

    .upcoming-event-details{
        text-align: center;
        align-items: center;
    }

    .description {
        margin-left: 0;
        text-align: center;
    }

    .event-image{
        width: 80%;
    }

    .past-event-card {
        min-width: 80%;
        box-sizing: border-box;
        margin: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
}